<div class='post-card'>
  <div class='full-post-header'>
    <h3>"<%= @post.title %>" by: <%= User.find(@post.author_id).name %></h3>
    <div class='showed-post-action'>
      <p>Comments: <%= @post.comments_count.nil? ? 0 : @post.comments_count %></p>
      <p>Likes: <%= @post.likes_count.nil? ? 0 : @post.likes_count %></p>
    </div>
  </div>
 <div class='post-text'> <%= @post.text %></div>
</div>
<div class='user-comments'>
  <% @post.comments.each do |comment| %>
    <p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
  <% end %>
      <%= render partial: "likes/create" %>
    <%= render partial: "comments/create" %>
</div>